@import "style/general.css";
@import "style/header.css";
@import "style/fonts.css";
@import "style/first.css";
@import "style/second.css";
@import "style/third.css";
@import "style/fourth.css"; 
@import "style/footer.css"; 