.first__page {
    width: 90%;
    font-family: PlayfairDisplay;
    font-weight: 400;
    margin: 0 auto;

}

.first__page h1{
    text-align: center;
    font-size: 2.5rem;
    color: #607900;
    line-height: 100%;
}

.first__page p {
    text-align: right;
    font-size: 1.125rem;
    font-style: italic;
    padding-bottom: 24px;

}
.flowwers-image {
    width: calc(100vw - (100vw / 100 * 8.75));
    height: calc(100vw - (100vw / 100 * 58.75));
    background-image: url('/image/flowwers-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    /* width: 100%; */
}

.delivery-time img {
    width: 16px;
    height: 16px;
}

.delivery-time {
    font-size: 12px;
}