.footer-page {
    font-family: Inter;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    background-color: #E9ECE0;
}

.footer-page img {
    max-width: 200px;
    height: auto;
}

.developer {
    text-align: left;
}

.social-network {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.social-network-icons {
    display: flex;
    gap: 12px;
    justify-content: center;
}
