.footer-page {
    font-family: Inter;
    font-size: 18px;
    background-color: #E9ECE0;
    background-image: url('/image/footer-img-320.svg');
    background-position: -120px 80px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
}


.footer-content img {
    max-width: 200px;
    height: auto;
}

.developer {
    text-align: left;
}

.social-network {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.social-network-icons {
    display: flex;
    gap: 12px;
    justify-content: center;
}


@media (min-width: 768px) {
    .footer-page {
        background-image: url('/image/footer-img-768.svg');
    }
}

@media (min-width: 1024px) {
    .footer-page {
        background-image: url('/image/footer-img-1440.svg');
        padding: 80px 0px;
    }
}