body {
    background-color: #F5F6F2;
    line-height: 130%;;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

@media (min-width: 768px) {
    html {
        font-size: 23.2px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 32px;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 48px;
    }
}