.header__contain {
    height: 157px;
}

.logo-basket {
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px
}

.header__contain-logo {
    min-width: 140px;
    height: 45px;
    background-image: url("/image/logo.svg");
    background-repeat: no-repeat;
}

.header__contain-basket {
    background-image: url("/image/basket.svg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: right top;
    width: 292px;
    height: 40px;
}

.header__contain-basket-count {
    float: right;
    margin-top: 9px;
    margin-right: 10.5px;
    font-family: sans-serif;
    font-size: 12px;
    color: #D17D2F;
}

.header__contain-input {
    display: flex;
    justify-content: center;
}

.header__contain-input input {
    color: grey;
    width: 91.25%;
    height: 40px;
    /* max-width: 292px;
    min-height: 40px;
    max-height: 40px; */
    border: none;
    padding-left: 16px;
    border-radius: 32px;
}

@media (min-width: 768px) {
    .logo-basket {
        margin-left: 284px;
        justify-content: center;
    }
}