.header__contain {
  height: 157px;
  width: 90%;
  margin: 0 auto 40px;
}

.logo-basket {
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}

.header__contain-logo {
  min-width: 140px;
  height: 45px;
  background-image: url("/image/logo.svg");
  background-repeat: no-repeat;
}

.header__contain-basket {
  background-image: url("/image/basket.svg");
  background-repeat: no-repeat;
  background-position: right top;
  width: 292px;
  height: 40px;
  position: relative;
}

.header__contain-basket-count {
  float: right;
  margin-top: 9px;
  margin-right: 10.5px;
  font-family: sans-serif;
  font-size: 14px;
  color: #d17d2f;
  position: absolute;
  right: -0.5px;
  top: -2px;
}

.header__contain-input {
  display: flex;
  justify-content: center;
}

.conteiner__input {
  position: relative;
  width: 100%;
}

.input-top {
  display: none;
}

.conteiner__input input {
  width: 91.25%;
  width: 100%;
  height: 40px;
  color: grey;
  border: none;
  padding-left: 16px;
  border-radius: 32px;
}

.orange__buttun {
  background-image: url("/image/up_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f0a35b;
  width: 40px;
  height: 40px;
  border-radius: 32px;
  position: absolute;
  right: 0px;
  top: 0px;
}

@media (min-width: 768px) {
  .logo-basket {
    /* margin-left: 284px; */
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 40px;
  }

  .header__contain-logo {
    min-width: 202px;
    min-height: 65px;
    background-size: cover;
    margin-left: calc(100vw / 2.8);
  }

  .header__contain {
    /* display: flex;
    align-items: center; */
    /* height: 201px; */
  }

  .header__contain-basket-count {
    top: -7px;
  }
}

@media (min-width: 1024px) {
  .header__contain-basket-count {
    top: -13px;
  }

  .header__contain-logo {
    min-width: 202px;
    min-height: 65px;
    background-size: cover;
    margin-left: 0;
  }

  .logo-basket {
    margin: 32px 0 60px 0;
  }

  .input-visible {
    display: none;
  }

  .input-top {
    display: block;
    min-width: 302px;
  }

  .logo-basket {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-left: 0;
  }

  .header__contain {
    margin: 0 auto;
  }

  .orange__buttun {
    top: 8px;
  }


  /* .header__contain {
        display: grid;
        justify-content: space-around;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .header__contain-input {
        order: -1;
        padding-top: 32px;
    } */
}

@media (min-width: 1440px) {

  .orange__buttun {
    top: 0px;
  }

  .header__contain-basket-count {
    top: -23px;
  }

  .input-top {
    min-width: 420px;
  }

  .conteiner__input {
    display: flex;
    align-items: center;
  }
}
