.title {
    font-family: Playfair Display;
    font-size: 32px;
    color: #607900;
    padding-bottom: 24px;
    padding-top: 40px;
}

.third__page-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog-items-item {
    font-size: 14px;
    width: 140px;
    min-height: 380px;
    max-width: 310px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 55%;
    /* align-items: center; */
}

.catalog-items-item-container {
    padding-top: 16px;
    padding-bottom: 12px;
    width: 90%;
    margin: 0 auto;
    display: grid;
}

.delivery-time {
    padding-bottom: 16px;
    display: flex;
    justify-content: left;
    gap: 4px;
}

.picture-product {
    width: 100%;
    height: auto;
    object-fit: contain;
    grid-area: 1 / 1 / span 1 / 1;
    border-radius: 20px 20px 0px 0px ;
}


.orange-button-cost {
    background-color: #F0A35B;
    font-family: Inter;
    width: 100%;
    height: 32px;
    border-radius: 32px;
    color: white;
    border: none;
}

.catalog-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1.125rem, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: auto;
}